/* General */

h1, h2, h3, h4, h5 {
    font-family: 'Prompt', sans-serif;
}

body, a, a:hover, a:focus {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.button {
    margin-top: 10px;
    color: white;
    background-color: #168900;
    padding: 5px 10px;
    border: none;
    display: inline-block;
}

.button:hover:not([disabled]), .button:focus:not([disabled]) {
    color: white;
    background-color: #1baa00;
    text-decoration: none;
}

.button:active:not([disabled]) {
    color: white;
    text-decoration: none;
    transform: translate(1px, 1px);
}

.button:disabled {
    background-color: #375b30;
    color: #aaa;
}

.highlight {
    color: #168900;
    font-weight: bold;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

/* Layout */

.body-content {
    background-color: #263238;
    padding-bottom: 20px;
    position: relative;
}

.top-banner, footer {
    height: 30px;
    background-color: #168900;
    padding: 5px 20px;
}

#result-section {
    width: 100%;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 768px) {
    .top-banner {
        margin-top: 30px;
    }

    #input-section {
        float: left;
        width: 50%;
    }

    #output-section {
        float: right;
        width: 50%;
    }

    #result-section {
        width: 500px;
        height: 300px;
    }
}

/* Code Section */

textarea {
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;
}

#code {
    min-height: 300px;
}

#code-submit .glyphicon {
    width: 19px;
}

#code-submit .glyphicon-refresh {
    display: none;
}

#next-problem-link {
    display: none;
}

/* Result Section */

#result-section {
    cursor: default;
    background-color: rgb(25, 32, 35); /* fallback */
    background-color: rgba(25, 32, 35, 0.75);
    z-index: 1000;
    border: 1px solid #666;
    border-bottom: none;
    border-right: none;
}

#result-header {
    text-align: right;
    padding-right: 5px;
    border-bottom: 1px solid #168900;
}

#result-header button {
    border: none;
    background: none;
    color: #168900;
    display: inline;
    padding: 5px;
}

#results {
    overflow-y: hidden;
    height: 268px;
}

#results:hover {
    overflow-y: auto;
}

.result {
    border-bottom: 1px solid #333;
    border-bottom: 1px solid rgba(60, 60, 60, 0.5);
    padding: 5px 10px;
}

.result:hover {
    background-color: #333;
    background-color: rgba(60, 60, 60, 0.5);
}

.result-status, .result-name {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14pt;
}

.status-pending {
    background-color: rebeccapurple;
}

.status-success {
    background-color: #168900;
}

.status-error {
    background-color: #c63d3d;
}

.result-name {
    float: right;
}

footer button {
    color: white;
    background: none;
    border: none;
}

footer button:hover {
    text-decoration: underline;
}

.application-info {
    display: inline-block;
    width: 50%;
    overflow: hidden;
}

/* Problem List */

#problem-list-section {
    min-height: 400px;
}

#problem-list-section a {
    font-size: 16pt;
}

#problem-list-section .solved-problem, #problem-list-section .solved-problem:hover {
    color: #168900;
}


/* Checkmark visual and animation */

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: white;
    fill: none;
    animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: none;
    stroke-width: 6;
    stroke: #1baa00;
    stroke-miterlimit: 10;
    margin: 0;
    vertical-align: text-bottom;
    box-shadow: inset 0 0 0 white;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
    100% { stroke-dashoffset: 0; }
}

@keyframes scale {
    0%, 100% { transform: none; }
    50% { transform: scale3d(1.1, 1.1, 1); }
}

@keyframes fill {
    100% { box-shadow: inset 0 0 0 30px white; }
}
