body {
    padding-bottom: 20px;
    color: white;
}

.body-content {
    background-color: #263238;
    padding-bottom: 20px;
}

.top-banner {
    margin-top: 30px;
}

.top-banner, footer {
    height: 30px;
    background-color: #168900;
    padding: 5px 20px;
}

textarea {
    color: white;
    background-color: transparent;
    border: none;
    width: 100%;
}

#code {
    min-height: 300px;
}
