<h1>@*Schoggifabrik*@--</h1>
<form asp-area="" asp-controller="Home" asp-action="Index" method="post">
    <textarea id="code" name="code">
main = do
    (a:b:vs) <- (fmap words getContents)
                let (w, h, values)=(readInt a, readInt b, fmap readInt vs)
                print w
                print h
                readInt :: String -> Int
readInt = read
    </textarea>
    <button type="submit">Send Submission</button>
</form>