@model Schoggifabrik.Models.ProblemViewModel
@{ ViewBag.Title = Model.Name; }

<section>
    <h2>Flavor</h2>
    <p>@Html.Raw(Model.Flavor)</p>
</section>

<section id="input-section">
    <h2>Input</h2>
    <p>@Html.Raw(Model.Input)</p>
</section>

<section id="output-section">
    <h2>Output</h2>
    <p>@Html.Raw(Model.Output)</p>
</section>

<div class="clearfix"></div>

<section id="code-section">
    <h2>Code</h2>
    <form id="code-form" asp-area="" asp-controller="Home" asp-action="SubmitCode" method="post">
        <textarea id="code" name="code">@Html.Raw(Model.StubCode)@*
main = do
    (a:b:vs) &lt;- (fmap words getContents)
    let (w, h, values)=(readInt a, readInt b, fmap readInt vs)
    print w
    print h

readInt :: String -> Int
readInt = read
        *@</textarea>
        <button id="code-submit" type="submit" class="button">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
            <span class="glyphicon glyphicon-send"></span>
            <span class="glyphicon glyphicon-refresh spinning"></span>
            Submit Code
        </button>
        <span id="code-submit-status"></span>
    </form>
</section>
