@model IList<Schoggifabrik.Models.ProblemViewModel>
@{ ViewBag.Title = "Problem Liste"; }

<section id="problem-list-section">
    <h2>Gelöste Probleme</h2>
    @for (int id = 0; id < Model.Count - 1; ++id)
    {
        <p><a class="solved-problem" asp-action="Index" asp-route-id="@id">@Model[id].Name</a></p>
    }
    <h2>Momentanes Problem</h2>
    <p><a asp-action="Index">@Model.Last().Name</a></p>
</section>
