@{ ViewBag.Title = "Erfolg"; }

<h2>Super!</h2>
<p>Du hast alle deine Aufgaben erfolgreich erledigt. Deine Vorgesetzten und Arbeitskollegen sind sehr zufrieden mit deinen Leistungen in der ersten Arbeitswoche.</p>
<p style="color: red">TODO: Tip zum nächsten Rätsel</p>
<form>
    <p>Code: <input /><button class="button">Senden</button></p>
</form>
