@{ ViewBag.Title = "Erfolg"; }

<h2>Super!</h2>
<p>Du hast alle deine Aufgaben erfolgreich erledigt. Deine Vorgesetzten und Arbeitskollegen sind sehr zufrieden mit deinen Leistungen in der ersten Arbeitswoche.</p>
<p>
    Die nächste Arbeitswoche startest du in der Kryptographie Abteilung. Dort gibt es nicht so strenge Auflagen in welcher Sprache die Aufgaben gelöst werden,
    aber die Verwendung von Haskell gibt natürlich Bonuspunkte.
</p>
<p>Deinen Arbeitsauftrag findest du unter folgender kryptischer URL: <a href="https://paul.dracopien.ch/705a14e6-2b8a-4236-908e-c5d017340513/" target="_blank">https://paul.dracopien.ch/705a14e6-2b8a-4236-908e-c5d017340513/</a></p>
